---
- name: Install btrfs management packages
  ansible.builtin.pacman:
    name:
      - snapper
      - snap-pac
      - grub-btrfs
      - btrfs-assistant
      - btrfs-progs
    state: present

- name: Check if snapper config exists
  ansible.builtin.stat:
    path: "/etc/snapper/configs/{{ snapper_config_name }}"
  register: snapper_config_stat

- name: Create snapper config for root
  ansible.builtin.command: snapper -c {{ snapper_config_name }} create-config /
  when: not snapper_config_stat.stat.exists
  changed_when: true

- name: Configure snapper
  ansible.builtin.template:
    src: snapper_config.j2
    dest: "/etc/snapper/configs/{{ snapper_config_name }}"
    owner: root
    group: root
    mode: "0640"
  when: snapper_config_stat.stat.exists or not snapper_config_stat.stat.exists

- name: Enable snapper cleanup timer
  ansible.builtin.systemd:
    name: snapper-cleanup.timer
    enabled: true
    state: started

- name: Enable grub-btrfsd service
  ansible.builtin.systemd:
    name: grub-btrfsd
    enabled: true
    state: started
