{
    "telemetry": {
        "metrics": false,
        "diagnostics": false
    },
    "theme": "One Dark",
    "ui_font_size": {{ .fonts.size }},
    "buffer_font_size": {{ .fonts.size }},
    "buffer_font_family": "{{ .fonts.mono }}",
    "terminal": {
        "font_family": "{{ .fonts.mono }}",
        "font_size": {{ .terminal.font_size }}
    },
    "format_on_save": "on",
    "autosave": {
        "after_delay": {
            "milliseconds": 1000
        }
    },
    "vim_mode": false,
    "soft_wrap": "preferred_line_length",
    "tab_size": 4,
    "preferred_line_length": 100
}
