[user]
    name = Lars Holmgren
    email = {{ .email }}
{{- if .gpgKeyId }}
    signingkey = {{ .gpgKeyId }}
{{- end }}

[init]
    defaultBranch = main

[core]
    autocrlf = input
    editor = zed --wait
    pager = bat --style=changes

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[fetch]
    prune = true

[diff]
    algorithm = histogram
    colorMoved = default

[merge]
    conflictStyle = zdiff3

[rerere]
    enabled = true

{{- if .gpgKeyId }}

[commit]
    gpgsign = true

[tag]
    gpgsign = true
{{- end }}

[alias]
    st = status -sb
    co = checkout
    br = branch
    ci = commit
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    last = log -1 HEAD
