# Starship prompt configuration

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$nix_shell\
$rust\
$python\
$nodejs\
$cmd_duration\
$line_break\
$character"""

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"

[directory]
truncation_length = 3
truncation_symbol = ".../"
style = "bold cyan"

[git_branch]
symbol = " "
style = "bold purple"

[git_status]
style = "bold red"

[nix_shell]
symbol = " "
format = "via [$symbol$state]($style) "
style = "bold blue"

[rust]
symbol = " "
style = "bold red"

[python]
symbol = " "
style = "bold yellow"

[nodejs]
symbol = " "
style = "bold green"

[cmd_duration]
min_time = 2000
format = "took [$duration]($style) "
style = "bold yellow"

[username]
show_always = false
style_user = "bold blue"

[hostname]
ssh_only = true
style = "bold green"
