{
    "editor.fontFamily": "{{ .fonts.mono }}, 'Courier New', monospace",
    "editor.fontSize": {{ .fonts.size }},
    "editor.fontLigatures": true,
    "editor.formatOnSave": true,
    "editor.minimap.enabled": false,
    "editor.renderWhitespace": "boundary",
    "editor.bracketPairColorization.enabled": true,
    "editor.guides.bracketPairs": true,
    "editor.inlineSuggest.enabled": true,

    "terminal.integrated.fontFamily": "{{ .fonts.mono }}",
    "terminal.integrated.fontSize": {{ .terminal.font_size }},

    "workbench.colorTheme": "Default Dark Modern",
    "workbench.iconTheme": "vs-seti",

    "files.autoSave": "afterDelay",
    "files.autoSaveDelay": 1000,
    "files.trimTrailingWhitespace": true,
    "files.insertFinalNewline": true,

    "telemetry.telemetryLevel": "off",

    "window.titleBarStyle": "custom",
    "window.zoomLevel": 0
}
